@use '../../theme/base' as *;

.logotype {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 350ms;
  width: fit-content;
  max-height: 32px;

  &:hover svg path {
    fill: $gray400;
  }

  svg {
    width: 100%;
    min-width: 146px;
    height: auto;
  }

  svg path {
    transition-duration: 350ms;
  }
}
