@use '../../theme/base' as *;

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 8px;
  background-color: $primary;
  padding: 24px;
  width: 100%;
  height: fit-content;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 32px 32px 24px;
  }

  @media (max-width: 640px) {
    padding: 40px 16px 32px;
  }

  .gridTopIcon {
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: 640px) {
      top: -18px;
      right: unset;
      left: -18px;
      transform: scale(0.8);
    }
  }

  .gridBottomIcon {
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: 640px) {
      right: -18px;
      bottom: -18px;
      left: unset;
      transform: scale(0.8);
    }
  }

  .title,
  .date {
    z-index: 1;

    @media (max-width: 640px) {
      text-align: center;
    }
  }

  .date {
    margin-top: 24px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding-right: 88px;

    @media (max-width: 1280px) and (min-width: 1025px) {
      padding-right: 0;
    }

    @media (max-width: 768px) {
      padding-right: 32px;
    }

    @media (max-width: 640px) {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 40px;
      padding-right: 0;
    }
  }

  .banner {
    margin-top: 48px;
    width: 100%;
    max-width: 283px;
    height: auto;

    @media (max-width: 1280px) and (min-width: 1201px) {
      max-width: 200px;
    }

    @media (max-width: 1200px) and (min-width: 1025px) {
      max-width: 160px;
    }

    @media (max-width: 768px) and (min-width: 641px) {
      max-width: 240px;
    }

    @media (max-width: 640px) {
      margin-top: 120px;
    }
  }
}
