@use '../../theme/base' as *;

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;

  .valueWrapper {
    margin-top: 24px;
    max-width: 50%;

    @media (max-width: 1200px) and (min-width: 1025px), (max-width: 640px) {
      max-width: 100%;
    }
  }

  .errorMessage {
    margin-top: 8px;
  }

  .successMessage {
    margin-top: 8px;

    @media (max-width: 1200px) and (min-width: 1025px), (max-width: 640px) {
      margin: 8px auto 0;
      text-align: center;
    }
  }

  .submitButton {
    margin-top: 24px;
    width: 50%;

    @media (max-width: 1200px) and (min-width: 1025px), (max-width: 640px) {
      margin: 24px auto 0;
      width: 100%;
      max-width: 336px;
    }
  }
}
