@use '../../../theme/base' as *;

.pageContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 8px;
  background-color: $gray100;
  padding: 32px;
  width: 100%;
  height: fit-content;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 32px 80px;
  }

  @media (max-width: 640px) {
    padding: 32px 16px;
  }

  .gridTop {
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: 768px) {
      top: -40px;
      right: -40px;
      transform: scale(0.7);
    }

    @media (max-width: 640px) {
      top: -56px;
      right: unset;
      left: -56px;
      transform: scale(0.57);
    }
  }

  .gridBottom {
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: 768px) {
      bottom: -40px;
      left: -40px;
      transform: scale(0.7);
    }

    @media (max-width: 640px) {
      right: -56px;
      bottom: -56px;
      left: unset;
      transform: scale(0.57);
    }
  }

  .title,
  .content {
    z-index: 1;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 32px 0 28px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;
      margin: 24px 0 16px;
    }

    @media (max-width: 640px) {
      margin: 24px 0 0;
    }
  }

  .banner {
    display: flex;
    aspect-ratio: 446/381;
    max-width: 100%;
    height: auto;

    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
}
