@use '../../theme/base' as *;

.transaction {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid $tertiary;
  padding-bottom: 8px;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 8px;
  align-items: center;
  gap: 8px;
}

.editButton {
  border-radius: 50% !important;
  padding: 12px !important;
}
