@use '@/theme/base' as *;

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 1024px) {
    flex: none;
  }

  @media (min-width: 641px) and (max-width: 1024px) {
    gap: 32px;
  }
}

.pageContent {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 8px;
  background-color: $gray100;
  padding: 32px;
  width: 100%;
  height: fit-content;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 32px 16px 60px;
  }

  @media (max-width: 640px) {
    padding: 32px 24px;
  }

  .gridTop {
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: 768px) {
      top: -40px;
      right: -40px;
      transform: scale(0.7);
    }

    @media (max-width: 640px) {
      top: -56px;
      right: unset;
      left: -56px;
      transform: scale(0.57);
    }
  }

  .gridBottom {
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: 768px) {
      bottom: -40px;
      left: -40px;
      transform: scale(0.7);
    }

    @media (max-width: 640px) {
      right: -56px;
      bottom: -56px;
      left: unset;
      transform: scale(0.57);
    }
  }

  .title,
  .content {
    z-index: 1;
  }

  .title {
    @media (max-width: 640px) {
      text-align: center;
    }
  }

  .content {
    display: flex;
    position: relative;
    padding-bottom: 112px;
    width: 100%;
  }

  .banner {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
