@use '@/theme/base' as *;

.pageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;

  @media (max-width: 1024px) {
    flex: none;
  }

  @media (min-width: 641px) and (max-width: 1024px) {
    gap: 32px;
  }
}
