@use '../../theme/base' as *;

.dateWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  min-width: 192px;
  max-width: 50%;

  @media (max-width: 1200px) and (min-width: 1025px), (max-width: 640px) {
    max-width: 100%;
  }

  & > div > div {
    transition-duration: 350ms;
    outline: none;
    border: 1px solid $blue10;
    border-radius: 8px;
    background-color: $white;
    max-height: 48px;

    &:hover,
    &:focus-within {
      border: 1px solid $primary;
    }

    &:focus-within {
      box-shadow: 0 0 3px 0 $primary;
    }

    fieldset {
      border: none !important;
    }
  }
}
