@use '../../../theme/base' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 100%;
}

.label {
  color: $black;
  font-weight: 700;
  line-height: 19px;
  font-family: $font-family;
}

.input {
  border: none;
  background-color: transparent;
  color: $gray600;
  font-size: 16px;
  line-height: 19px;

  @media (max-width: 1100px) and (min-width: 1025px) {
    width: inherit;
  }

  &:hover,
  &:focus-within {
    border: none;
  }
}

.image {
  border-radius: 8px;
  width: 100%;
  max-width: 454px;
}
