@use '../../../../theme/base' as *;

.investmentsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 8px;
  background-color: $gray100;
  padding: 32px;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding: 32px 16px 60px;
  }

  @media (max-width: 640px) {
    padding: 32px 24px;
  }

  .gridTop {
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: 768px) {
      top: -40px;
      right: -40px;
      transform: scale(0.7);
    }

    @media (max-width: 640px) {
      top: -56px;
      right: unset;
      left: -56px;
      transform: scale(0.57);
    }
  }

  .gridBottom {
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: 768px) {
      bottom: -40px;
      left: -40px;
      transform: scale(0.7);
    }

    @media (max-width: 640px) {
      right: -56px;
      bottom: -56px;
      left: unset;
      transform: scale(0.57);
    }
  }

  .title,
  .totalTitle,
  .totalContainer,
  .statisticsTitle,
  .statisticsContainer {
    z-index: 1;
  }

  .title {
    @media (max-width: 640px) {
      text-align: center;
    }
  }

  .totalTitle {
    margin-top: 32px;

    @media (max-width: 768px) {
      margin-top: 40px;
    }

    @media (max-width: 640px) {
      text-align: center;
    }
  }

  .statisticsTitle {
    margin-top: 56px;

    @media (max-width: 768px) {
      margin-top: 40px;
    }

    @media (max-width: 640px) {
      text-align: center;
    }
  }

  .totalContainer,
  .statisticsContainer {
    margin-top: 24px;
  }

  .totalContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;

    @media (max-width: 1200px) and (min-width: 1025px), (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .statisticsContainer {
    border-radius: 8px;
    background-color: $primary;
    padding: 16px;
    max-width: calc(100vw - 658px);

    @media (max-width: 1025px) {
      max-width: calc(100vw - 184px);
    }

    @media (max-width: 768px) {
      max-width: calc(100vw - 152px);
    }

    @media (max-width: 640px) {
      max-width: calc(100vw - 96px);
    }
  }
}
