@use '../../../theme/base' as *;
@use 'sass:color';

@keyframes slideTransition {
  0% {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
  }

  100% {
    opacity: 1;
    overflow-y: auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  & > label {
    color: $black;
    font-weight: 700;
    line-height: 19px;
    font-family: $font-family;
  }

  .selectContainer {
    display: flex;
    position: relative;
    transition-duration: 350ms;

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      transition-duration: 350ms;
      cursor: pointer;
      border: 1px solid $blue10;
      border-radius: 8px;
      background-color: $white;
      padding: 0 16px;
      width: 100%;
      min-height: 48px;
      color: $gray300;
      font-size: 16px;
      line-height: 19px;
      text-align: start;

      &.primary svg,
      &.primary svg path {
        fill: $primary;
      }

      &.secondary svg,
      &.secondary svg path {
        fill: $secondary;
      }

      &.tertiary svg,
      &.tertiary svg path {
        fill: $tertiary;
      }

      &.error svg,
      &.error svg path {
        fill: $error;
      }

      &.cta svg,
      &.cta svg path {
        fill: $black;
      }

      &.ctaForeground svg,
      &.ctaForeground svg path {
        fill: $white;
      }

      &:hover,
      &.opened {
        &.primary {
          border: 1px solid $primary;
        }

        &.secondary {
          border: 1px solid $secondary;
        }

        &.tertiary {
          border: 1px solid $tertiary;
        }

        &.error {
          border: 1px solid $error;
        }

        &.cta {
          border: 1px solid $black;
        }

        &.ctaForeground {
          border: 1px solid $white;
        }
      }

      &:focus {
        outline: none;

        &.primary {
          box-shadow: 0 0 3px 0 $primary;
          border: 1px solid $primary;
        }

        &.secondary {
          box-shadow: 0 0 3px 0 $secondary;
          border: 1px solid $secondary;
        }

        &.tertiary {
          box-shadow: 0 0 3px 0 $tertiary;
          border: 1px solid $tertiary;
        }

        &.error {
          box-shadow: 0 0 3px 0 $error;
          border: 1px solid $error;
        }

        &.cta {
          box-shadow: 0 0 3px 0 $black;
          border: 1px solid $black;
        }

        &.ctaForeground {
          box-shadow: 0 0 3px 0 $white;
          border: 1px solid $white;
        }
      }

      &.opened {
        z-index: 2;

        &.primary {
          box-shadow: 0 0 3px 0 $primary;
        }

        &.secondary {
          box-shadow: 0 0 3px 0 $secondary;
        }

        &.tertiary {
          box-shadow: 0 0 3px 0 $tertiary;
        }

        &.error {
          box-shadow: 0 0 3px 0 $error;
        }

        &.cta {
          box-shadow: 0 0 3px 0 $black;
        }

        &.ctaForeground {
          box-shadow: 0 0 3px 0 $white;
        }
      }

      svg,
      svg path {
        transition-duration: 350ms;
        pointer-events: none;
      }

      &.opened svg {
        transform: rotate(180deg);
      }

      &.selected {
        color: $gray600;
      }
    }

    .list {
      display: flex;
      position: absolute;
      top: 31px;
      left: 50%;
      flex-direction: column;
      transform: translateX(-50%);
      z-index: 1;
      animation: slideTransition 350ms ease-in-out;
      transition-duration: 350ms;
      margin: 0;
      border: 1px solid $primary;
      border-radius: 0 0 8px 8px;
      background-color: $white;
      padding: 15px 0;
      width: calc(100% - 2px);
      max-height: 200px;
      overflow-y: auto;

      &.primary {
        border: 1px solid $primary;
      }

      &.secondary {
        border: 1px solid $secondary;
      }

      &.tertiary {
        border: 1px solid $tertiary;
      }

      &.error {
        border: 1px solid $error;
      }

      &.cta {
        border: 1px solid $black;
      }

      &.ctaForeground {
        border: 1px solid $white;
      }

      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 350ms;
      cursor: pointer;
      min-height: 50px;
      color: $gray600;
      font-family: $font-family;

      &:hover,
      &:focus {
        outline: none;
      }

      &.selected {
        font-weight: 700;
      }

      &:hover,
      &:focus,
      &.selected {
        &.primary {
          background-color: color.adjust($primary, $lightness: 60%);
        }

        &.secondary {
          background-color: color.adjust($secondary, $lightness: 30%);
        }

        &.tertiary {
          background-color: color.adjust($tertiary, $lightness: 40%);
        }

        &.error {
          background-color: color.adjust($error, $lightness: 40%);
        }

        &.cta {
          background-color: color.adjust($black, $lightness: 40%);
        }

        &.ctaForeground {
          background-color: $white;
        }
      }
    }
  }
}
