@use '../../../theme/base' as *;

@keyframes slideTransition {
  0% {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
  }

  100% {
    opacity: 1;
    overflow-y: auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  & > label {
    color: $black;
    font-weight: 700;
    line-height: 19px;
    font-family: $font-family;
  }

  .selectContainer {
    display: flex;
    position: relative;
    transition-duration: 350ms;

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      transition-duration: 350ms;
      cursor: pointer;
      border: 1px solid $blue10;
      border-radius: 8px;
      background-color: $white;
      padding: 0 16px;
      width: 100%;
      min-height: 48px;
      color: $gray300;
      font-size: 16px;
      line-height: 19px;
      text-align: start;

      &:hover,
      &.opened {
        border: 1px solid $primary;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 3px 0 $primary;
        border: 1px solid $primary;
      }

      &.opened {
        z-index: 2;
        box-shadow: 0 0 3px 0 $primary;
      }

      svg,
      svg path {
        transition-duration: 350ms;
        fill: $primary;
        pointer-events: none;
      }

      &.opened svg {
        transform: rotate(180deg);
      }

      &.selected {
        color: $gray600;
      }
    }

    .list {
      display: flex;
      position: absolute;
      top: 31px;
      left: 50%;
      flex-direction: column;
      transform: translateX(-50%);
      z-index: 1;
      animation: slideTransition 350ms ease-in-out;
      transition-duration: 350ms;
      margin: 0;
      border: 1px solid $primary;
      border-radius: 0 0 8px 8px;
      background-color: $white;
      padding: 15px 0;
      width: calc(100% - 2px);
      max-height: 200px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 350ms;
      cursor: pointer;
      min-height: 50px;
      color: $gray600;
      font-family: $font-family;

      &:hover,
      &:focus {
        outline: none;
        background-color: $blue10;
      }

      &.selected {
        background-color: $blue10;
        font-weight: 700;
      }
    }
  }
}
