// colors
$white: #ffffff;
$black: #000000;

$gray10: #f8f8f8;
$gray20: #f2f2f2;
$gray50: #dadada;
$gray100: #cccccc;
$gray300: #8b8b8b;
$gray400: #767676;
$gray600: #444444;
$gray900: #171717;

$green10: #e4ede3;
$green400: #47a138;
$green600: #004d61;

$blue10: #dee9ea;

$orange600: #ff5031;

$error: #bf1313;
$success: $green400;

$primary: $green600;
$secondary: $orange600;
$tertiary: $green400;

$background: $white;
$foreground: $gray900;
$overlay: #00000099;

// gradients
$gradient: linear-gradient(180deg, $primary 0%, $white 100%);

// fonts
$font-family: 'Inter', 'Inter Fallback', Helvetica, sans-serif;
