// colors
$white: #ffffff;
$black: #000000;
$gray: #dee9ea;
$light-gray: #f8f8f8;

$light-green: #e4ede3;

$primary: #004d61;
$secondary: #ff5031;
$tertiary: #47a138;

$background: #ffffff;
$foreground: #171717;

// gradients
$gradient: linear-gradient(90deg, #004d61 0%, $white 100%);

// fonts
$font-family: 'Inter', 'Inter Fallback', Helvetica, sans-serif;
