@use '../../../../theme/base' as *;

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 24px;
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  max-height: calc(100vh - 292px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $green10;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid $green10;
    border-radius: 12px;
    background-color: $primary;
  }

  @media (max-width: 1200px) and (min-width: 1025px) {
    flex-direction: column;
    padding-right: 24px;
    padding-bottom: 0;
  }

  @media (max-width: 1024px) {
    max-height: unset;
    overflow-y: unset;
  }

  @media (max-width: 640px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.banner {
  position: absolute;
  right: 24px;
  bottom: 32px;
  pointer-events: none;

  @media (max-width: 1200px) and (min-width: 1025px) {
    display: none;
  }

  @media (max-width: 1024px) and (min-width: 769px) {
    max-width: 288px;
    height: auto;
  }

  @media (max-width: 768px) and (min-width: 641px) {
    max-width: 224px;
    height: auto;
  }

  @media (max-width: 640px) {
    display: none;
  }
}
