@use '../../../../theme/base' as *;

.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 24px;
  width: 100%;
}

.content {
  display: flex;
  position: relative;
  z-index: 1;
  padding-bottom: 112px;
  width: 100%;

  @media (max-width: 1200px) and (min-width: 1025px), (max-width: 640px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.banner {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

  @media (max-width: 1200px) and (min-width: 1025px), (max-width: 640px) {
    position: unset;
    margin: 0 auto;
    margin-top: 24px;
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 1024px) and (min-width: 641px) {
    max-width: 328px;
    height: auto;
  }
}
