@use '../../../theme/base' as *;

.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 24px;
  width: 100%;
  gap: 32px;
}

.transactions {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;

  @media (min-width: 1025px) {
    overflow-y: auto;
    max-height: calc(100vh - 348px);
    padding-right: 24px;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: $green10;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $tertiary;
      border-radius: 12px;
      border: 3px solid $green10;
    }
  }
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.search {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.searchButton {
  padding: 10px !important;
  margin-left: -12px;
}
