@use "../../theme/base" as *;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: $gradient;

  .bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 76px;
    margin: 24px auto 0;
    padding: 0 60px;
    width: 100%;
    max-width: 1320px;

    @media (max-width: 1024px) {
      gap: 16px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      margin: 40px auto 0;
    }

    @media (max-width: 640px) {
      padding: 0 24px;
    }

    .title {
      min-width: 273px;
      max-width: 434px;

      @media (max-width: 1024px) {
        max-width: 273px;
      }

      @media (max-width: 768px) {
        max-width: none;
        text-align: center;
      }

      @media (max-width: 640px) {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
      }
    }

    .banner {
      max-width: calc(100% - 76px - 273px);
      height: auto;

      @media (max-width: 1024px) {
        max-width: calc(100% - 16px - 273px);
      }

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    .buttonsWrapper {
      display: none;
      width: 100%;

      @media (max-width: 640px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
      }

      .button {
        padding-right: 0;
        padding-left: 0;
        min-width: 144px;
      }
    }
  }

  .benefitsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 40px auto 152px;
    padding: 0 60px;
    width: 100%;
    max-width: 1320px;

    @media (max-width: 768px) {
      margin: 40px auto 72px;
    }

    @media (max-width: 640px) {
      margin: 32px auto 80px;
      padding: 0 24px;
    }

    .title {
      text-align: center;

      @media (max-width: 640px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .text {
      text-align: center;
    }

    .benefitsWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
      }

      @media (max-width: 640px) {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 16px;
      }
    }

    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }
}
