@use '../../theme/base' as *;

.balanceValueContainer {
  display: flex;
  flex-direction: column;

  .button {
    justify-content: flex-start;
    gap: 25px;
    border-bottom: 2px solid $white;
    border-radius: 0;
    padding: 0 0 16px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  .title {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .amountWrapper {
    position: relative;
    margin-top: 8px;
    min-width: 200px;

    @media (max-width: 1200px) and (min-width: 1025px) {
      min-width: 160px;
    }
  }

  .amount {
    margin: 0;
    width: max-content;

    @media (max-width: 1200px) and (min-width: 1025px) {
      font-size: 24px;
    }
  }

  .mask {
    margin: 0;
    width: max-content;

    @media (max-width: 1200px) and (min-width: 1025px) {
      font-size: 24px;
    }
  }
}
