@use '../../../theme/base' as *;

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition-duration: 350ms;
  border-radius: 50%;
  padding: 8px;
  aspect-ratio: 1;
  width: fit-content;
  min-width: 40px;
  height: fit-content;
  min-height: 40px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  svg path {
    transition-duration: 350ms;
  }
}

.contained {
  color: $white;

  svg path {
    fill: $white;
  }

  &.primary {
    border: 2px solid $primary;
    background-color: $primary;
  }

  &.secondary {
    border: 2px solid $secondary;
    background-color: $secondary;
  }

  &.tertiary {
    border: 2px solid $tertiary;
    background-color: $tertiary;
  }

  &.error {
    border: 2px solid $error;
    background-color: $error;
  }

  &.cta {
    border: 2px solid $black;
    background-color: $black;

    &:hover {
      background-color: transparent;
      color: $black;
    }

    &:hover svg path {
      fill: $black;
    }
  }

  &:hover {
    border: 2px solid $black;
    background-color: $black;
  }
}

.outlined {
  background-color: transparent;

  &.primary {
    border: 2px solid $primary;
    color: $primary;

    svg path {
      fill: $primary;
    }

    &:hover {
      background-color: $primary;
    }
  }

  &.secondary {
    border: 2px solid $secondary;
    color: $secondary;

    svg path {
      fill: $secondary;
    }

    &:hover {
      background-color: $secondary;
    }
  }

  &.tertiary {
    border: 2px solid $tertiary;
    color: $tertiary;

    svg path {
      fill: $tertiary;
    }

    &:hover {
      background-color: $tertiary;
    }
  }

  &.error {
    border: 2px solid $error;
    color: $error;

    svg path {
      fill: $error;
    }

    &:hover {
      background-color: $error;
    }
  }

  &.cta {
    border: 2px solid $black;
    color: $black;

    svg path {
      fill: $black;
    }

    &:hover {
      background-color: $black;
    }
  }

  &:hover {
    color: $white;

    svg path {
      fill: $white;
    }
  }
}

.text {
  background-color: transparent;
  border: none;

  &.primary {
    color: $primary;

    svg path {
      fill: $primary;
    }
  }

  &.secondary {
    color: $secondary;

    svg path {
      fill: $secondary;
    }
  }

  &.tertiary {
    color: $tertiary;

    svg path {
      fill: $tertiary;
    }
  }

  &.error {
    color: $error;

    svg path {
      fill: $error;
    }
  }

  &.cta {
    color: $black;

    svg path {
      fill: $black;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.button.loading {
  cursor: not-allowed;

  svg {
    visibility: hidden;
    opacity: 0;
  }

  svg.loadingIcon {
    position: absolute;
    visibility: visible;
    opacity: 1;
    animation: loading 0.75s linear infinite;
  }
}
