@use '../../theme/base' as *;

.header {
  display: flex;
  background-color: $primary;
  width: 100%;
  min-height: 96px;

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding: 24px 60px;
    width: 100%;
    max-width: 1320px;
    gap: 60px;

    @media (max-width: 768px) {
      gap: 32px;
    }

    @media (max-width: 640px) {
      padding: 28px 24px;
    }
  }

  .user {
    @media (max-width: 640px) {
      display: none;
    }
  }
}
