@use '../../theme/base' as *;

.header {
  display: flex;
  background-color: $foreground;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 60px;
    width: 100%;
    max-width: 1320px;

    @media (max-width: 640px) {
      padding: 28px 24px;
    }
  }

  .linksContent {
    display: flex;
    align-items: center;
    gap: 72px;

    @media (max-width: 1024px) {
      gap: 24px;
    }

    @media (max-width: 640px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
    }

    .logoType,
    .logo {
      &:hover {
        opacity: 0.7;
      }

      path {
        fill: $tertiary;
      }
    }

    .logoType {
      @media (min-width: 641px) and (max-width: 768px) {
        display: none;
      }
    }

    .logo {
      display: none;

      @media (min-width: 641px) and (max-width: 768px) {
        display: flex;
      }
    }
  }

  .ctaContent {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 1024px) {
      gap: 16px;
    }

    @media (max-width: 640px) {
      display: none;
    }

    .cta {
      @media (max-width: 1024px) {
        padding-right: 0;
        padding-left: 0;
        min-width: 144px;
      }
    }
  }
}
